<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="utf-8">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <p>
        现在时间{{now}}
        </p>
        <form id ="patient_edit" name="patient_edit" action="save" >
            <input type="hidden" name="id" id="pid" >
            <p>
                姓名<input type="text" size="20" name = 'pname' />
                <br>别名<input type="text" size="20" name = 'niick_name' />
                
            </p>
        </form>
    </body>
</html>
